<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>you-pli</title>
</head>

<body>
<fieldset>
    <h2>you pli</h2>
    <div>
        <img id="googleLoginBtn" src="./images/google-login-btn.png">
    </div>
</fieldset>
</body>

<script>
    const onClickGoogleLogin = () => {
        window.location.replace("https://accounts.google.com/o/oauth2/v2/auth?" +
            "client_id=64965047662-dqmh17ajhvdl3f4pjmsoohulegrpi942.apps.googleusercontent.com&" +
            "redirect_uri=http://localhost:8080/oauth2callback&" +
            "scope=https://www.googleapis.com/auth/youtube&" +
            "response_type=code&" +
            "access_type=offline")
    }

    const googleLoginBtn = document.getElementById("googleLoginBtn");
    googleLoginBtn.addEventListener("click", onClickGoogleLogin);
</script>
</html>