<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Spring-security-social-jwt</title>
</head>

<body>
<fieldset>
    <h2>playlist</h2>
    <div>
        <img id="googleLoginBtn" src="./images/google-login-btn.png">
    </div>
    <div>
        <img id="spotifyLoginBtn" src="./images/spotify-login-btn.png">
    </div>
</fieldset>
</body>

<script>
    const onClickGoogleLogin = () => {
        window.location.replace("https://accounts.google.com/o/oauth2/v2/auth?" +
            "client_id=64965047662-dqmh17ajhvdl3f4pjmsoohulegrpi942.apps.googleusercontent.com&" +
            "redirect_uri=http://localhost:8080/api/google/callback&" +
            "scope=https://www.googleapis.com/auth/youtube%20openid%20profile%20email&" +
            "response_type=code&" +
            "access_type=offline")
    }

    const googleLoginBtn = document.getElementById("googleLoginBtn");
    googleLoginBtn.addEventListener("click", onClickGoogleLogin);

    const onClickSpotifyLogin = () => {
        window.location.replace("https://accounts.spotify.com/authorize?" +
            "client_id=acdf56e8344d4a2fb316cade08686bb4&" +
            "response_type=code&" +
            "redirect_uri=http://localhost:8080/api/spotify/callback&" +
            "scope=user-read-private user-read-email playlist-read-private&" +
            "state=12345")
    }

    const spotifyLoginBtn = document.getElementById("spotifyLoginBtn");
    spotifyLoginBtn.addEventListener("click", onClickSpotifyLogin);
</script>
</html>