<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h3>index</h3>

        <div>
            <h4>session</h4>
            <a href="/index/login">로그인 하러가기</a>
            <br>
            <a href="/index/my-info">로그인 정보 확인</a>
            <br>
            <a href="/admin">admin page 접근</a>
            <br>
            <a href="/user">user page 접근</a>
        </div>
        <div>
            <h4>jwt</h4>
            <a href="/index/login">로그인 하러가기</a>
        </div>
    </div>
</body>
</html>